/* Basic Style */
.b-page {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

.b-page__ad-block {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

.ad-block__img {
    width: 100%;
}

.ad-block__link {
    font-family: fantasy, cursive;
}

@media (max-width:768px) {
    
    .b-page__ad-block { 
        text-align: center;
    }

}

main {
    display: block;
    width: 500px;
    margin: 0 auto 0;
}

.b-task {
    width: 56%;
    display: inline-block;
    flex-grow: 1;
}

.main-block__task-wrapper {
    display: flex;
    padding: 20px 0px;
}

.tasks-list {
    margin: 0;
    padding: 0px;
}

.button,
.b-input {
    color: #888;
    font-family: Lato, sans-serif;
}

.button {
    background: none;
    border: 0px;
    font-size: 15px;
    width: 60px;
    cursor: pointer;
}

.button:hover {
    color: #3a3A3a;
}

/* Heading */
.b-page__title {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

.b-input {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #dDd;
    background: #FFF;
    border-radius: 6px;
}

.b-input:focus {
    color: #333;
}

/* New Task */
#new-task .b-input {
    width: 318px;
}

/* Task list */
.items-li {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-checkbox {
    margin: 0 10px;
}

.label-task {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}

.remove-img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.remove-img:hover {
    transform: rotateZ(0);
}

/* Completed */
#completed-tasks .label-task {
    text-decoration: line-through;
    color: #888;
}

/* Edit Task */
.items-li .b-input {
    display: none;
}

.edit-mode .b-input {
    display: inline-block;
    width: 224px;
}

.edit-mode .label-task {
    display: none;
}